<%= app_form_with model: @book, local: true do |f|%>
  <div class="field">
    <%= f.label :title, 'Title:' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author_id, 'Author:' %>
    <%= f.select :author_id, author_select_options %>
  </div>
  <div class="field">
    <%= f.label :cover, 'Cover:' %>
    <%= f.file_field :cover, accept: 'image/*' %>
  </div>
  <div class="field">
    <%= f.label :synopsis %>
    <%= f.rich_text_area :synopsis %>
  </div>
  <div class="field">
    <%= f.label :pages, 'Pages:' %>
    <%= f.number_field :pages %>
  </div>
  <%= f.submit %>
<% end %>
