<p>
  Title: <%= @book.title %><br>
  <% if @book.cover.attached? %>
    <%= image_tag @book.cover.variant(resize_to_limit: [100, 100]) %>
  <% end %>
  Auhtor: <%= @book.author.name %><br>
  Pages: <%= @book.pages %>
</p>
<h3>Comments</h3>
<% @book.comments.each do |comment| %>
  <ul>
    <li>
      <%= comment.text %>
      <% if comment.author == current_user %>
        <%= link_to 'Delete', book_comment_path(@book, comment), method: :delete, data: { confirm: 'Are u sure?' } %>
      <% end %>
    <li>
  </ul>
<% end %>
<%= render 'comments/form', book: @book %>
<%= link_to 'Back', users_path %>