<!DOCTYPE html>
<html>
  <head>
    <title>BookProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class='container mx-auto'>
      <% if flash[:notice] %>
        <p> <%= flash[:notice] %> </p>
      <% elsif flash[:alert] %>
        <p> <%= flash[:alert] %> </p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
